<form method= "POST" action= "/articles">
<p>Article Title: <input type= "text" name= "title"/></p>
<p>Article Content <input type= "text" name= "content"/></p>
<input type= "submit" value= "Add Article", id= "submit">
</form>